.Wrap {}

h2 {
    font-size: 35px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 500;
}

p {
    font-size: 15px;
    font-weight: 300;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

#top_banner {
    background: #000;
    color: #fff;
    height: 25px;
    line-height: 25px;
}

#top_banner .container {
    justify-content: space-between;
}

#top_banner ul {
    display: flex;
    gap: 30px;
}

#top_banner ul li {
    font-size: 13px;
    font-weight: 300;
}

#header_menu {
    height: 75px;
    line-height: 75px;
    border-bottom: 1px solid #ddd;
}

#header_menu .container {
    display: flex;
    justify-content: space-between;
}

#header_menu nav>ul {
    display: flex;
    gap: 50px;
}

.search input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    color: #000
}

.search input[type="text"]::placeholder {
    color: #808080;
}

.search input[type="text"]:focus::placeholder {
    opacity: 0;
}

.search button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 21px;
}

#ad_banner {
    padding: 20px 0;
    background: #ddd;
}

#ad_banner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#ad_banner .inner h2 {
    margin: 0 0 10px 0;
}

#ad_banner .inner p {
    margin: 0 0 10px 0;
}

#ad_banner .inner a {
    padding: 0 15px 3px 15px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

#ad_banner .inner i {
    position: absolute;
    inset: 50% auto auto 90%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    padding: 5px;
    background: #ff0;
    border-radius: 5px;
    cursor: pointer;
}

#main_visual .main_slider figure {
    position: relative;
    height: 800px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#main_visual .main_slider .itm01 {
    background: url('../img/main_visual01.jpg');
}

#main_visual .main_slider .itm02 {
    background: url('../img/main_visual02.jpg');
}

#main_visual .main_slider .itm03 {
    background: url('../img/main_visual03.jpg');
}

#main_visual .main_slider .slick-dots {
    position: absolute;
    inset: 90% auto auto 50%;
    transform: translate(-50%, -50%);
}

#main_visual .main_slider .slick-dots li {
    display: inline-block;
}

#main_visual .main_slider .slick-dots li button {
    outline: none;
    border: 1px solid #000;
    font-size: 0;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

#main_visual .main_slider .slick-dots li.slick-active button {
    background: #000;
}

#model {
    position: relative;
    padding: 100px 0;
    text-align: center;
}

#model h2 {
    margin: 0 0 20px 0;
}

#model h3 {
    margin: 0 0 50px 0;
}

#model video {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

#model .controls i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    filter: invert(1);
    cursor: pointer;
}

#model .controls i:nth-child(1) {
    margin: 0 0 0 -20px;
}

#model .controls i:nth-child(2) {
    margin: 0 0 0 20px;
}

#new_shirt {
    position: relative;
    padding: 100px 0;
}

#new_shirt .container {
    display: block;
    text-align: center;
}

#new_shirt h2 {
    margin: 0 0 20px 0;
}

#new_shirt p {
    margin: 0 0 50px 0;
}

#new_shirt .shirt_slider figure {
    text-align: left;
    margin: 0 10px;
    line-height: 1.414;
}

#new_shirt .shirt_slider figure img {
    margin: 0 0 10px 0;
}

#new_shirt .shirt_slider figure strong {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

#new_shirt .shirt_slider .slick-dots {
    margin: 20px 0 0 0;
}

#new_shirt .shirt_slider .slick-dots li {
    display: inline-block;
}

#new_shirt .shirt_slider .slick-dots button {
    outline: none;
    border: 1px solid #000;
    background: #fff;
    margin: 0 5px;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#new_shirt .shirt_slider .slick-dots li.slick-active button {
    background: #000;
}

#new_shirt .arrow i {
    position: absolute;
    padding: 5px;
    font-size: 35px;
    background: #ddd;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#new_shirt .arrow i:nth-child(1) {
    margin: 0 0 0 -700px;
}

#new_shirt .arrow i:nth-child(2) {
    margin: 0 0 0 700px;
}

#category {
    padding: 100px 0;
}

#category .container {
    display: block;
}

#category .container h2 {
    text-align: center;
    margin: 0 0 50px 0;
}

#category .container .tab_menu {
    display: flex;
    padding: 0 0 50px 0;
}

#category .container .tab_content {
    display: flex;
}

#category .container .tab_menu figure {
    position: relative;
    filter: grayscale(1);
    transition: 1s;
}

#category .container .tab_menu figure:hover {
    filter: grayscale(0);
}


#category .container figure .inner {
    position: absolute;
    line-height: 1.414;
    text-align: center;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

#category .container figure .inner strong {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#category .tab_content>div {
    display: none;
}

#category .tab_content>div.on {
    display: block;
}


#category .tab_content h2 {
    text-align: left;
    margin: 0 0 50px 0;
}

#category .tab_content h2::after {
    content: "";
    display: block;
    width: 500px;
    height: 5px;
    background: #ddd;
    margin: 20px 0 0 0;
}

#category .tab_content .figure_box {
    display: flex;
    gap: 20px;
    line-height: 1.414;
}

#category .tab_content .figure_box figure img {
    margin: 0 0 10px 0;
}

#category .tab_content .figure_box figure strong {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

#category .tab_content .figure_box figure:nth-child(1) img:nth-child(1) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(1) img:nth-child(2) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(1):hover img:nth-child(1) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(1):hover img:nth-child(2) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(2) img:nth-child(1) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(2) img:nth-child(2) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(2):hover img:nth-child(1) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(2):hover img:nth-child(2) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(3) img:nth-child(1) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(3) img:nth-child(2) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(3):hover img:nth-child(1) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(3):hover img:nth-child(2) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(4) img:nth-child(1) {
    display: block;
}

#category .tab_content .figure_box figure:nth-child(4) img:nth-child(2) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(4):hover img:nth-child(1) {
    display: none;
}

#category .tab_content .figure_box figure:nth-child(4):hover img:nth-child(2) {
    display: block;
}

#setup {
    padding: 100px 0;
}

#setup .container {
    text-align: center;
    gap: 50px;
}

#setup .container h2 {
    margin: 0 0 50px 0;
}

#nb_information {
    padding: 50px 0;
    background: #000;
    color: #fff;
}

#nb_information .nav_footer {
    display: flex;
    gap: 100px;
}

#nb_information .container .nav_footer>ul {
    display: flex;
    gap: 100px;
    line-height: 1.414;
}

#nb_information .container .nav_footer>ul>li>ul>li a {
    font-size: 13px;
    font-weight: 300;
}

#nb_information .container>ul>li>ul {
    display: block;
}

#nb_information .container .sns {
    font-size: 25px;
}

#nb_information .container .info_footer {
    line-height: 1.414;
}

#nb_information .container .info_footer ul li {
    font-size: 13px;
}